code[class*="language-"],
pre[class*="language-"] {
	color: #fff;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	background: hsl(55, 8%, 26%, 0.99);
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	background: hsl(55, 8%, 26%, 0.99);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #75715E;
}

.token.punctuation {
	color: #fff;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #AE81FF;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #E6DB74;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #F92672;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #F92672;
}

.token.function,
.token.class-name {
	color: #66D9EF;
}

.token.regex,
.token.important,
.token.variable {
	color: #FD971F;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.moh-thread {
	color: #A6E22E;
	font-weight: bold;
}