div.xcode_container {
	position: relative;
}

div.xcode_container > .input-container {
	position: absolute;
	top: 1em;
	right: 1.2em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

div.xcode_container:hover > .input-container {
	opacity: 1;
}

div.xcode_container:focus-within > .input-container {
	opacity: 1;
}

div.xcode_container > .input-container > .xcode_switch {
	cursor: pointer;
	display: block;
	position: relative;
	height: 14px;
}
div.xcode_container > .input-container > .xcode_switch::selection {
	background: transparent;
}

div.xcode_container > .input-container input[type=checkbox] + label:before {
	box-shadow: none;
}

div.xcode_container > .input-container input[type=checkbox]:checked + label:before {
	background: #7192a8;
}

div.xcode_container > .input-container input[type=checkbox] + label:before {
	background: #e9e9e9;
	border-radius: 100px;
	box-shadow: 0 0 2px 0 #333 inset;
	box-sizing: border-box;
	content: '';
	cursor: pointer;
	display: inline-block;
	left: 15px;
	position: absolute;
	transition: background .3s;
	vertical-align: middle;
	width: 26px;
	height: 12px;
	top: 50%;
	transform: translateY(-50%);
}

div.xcode_container > .input-container input[type=checkbox]:not(:checked) + label:after {
	left: 8px;
}

div.xcode_container > .input-container input[type=checkbox] + label:after {
	background: #fff;
	border-radius: 90px;
	box-shadow: 0 0 3px 0 #333;
	content: '';
	cursor: pointer;
	display: inline-block;
	height: 14px;
	left: 22px;
	position: absolute;
	transition: .3s;
	vertical-align: middle;
	width: 14px;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 6px;
	margin-right: 6px;
}

div.xcode_container > .input-container input[type=checkbox] + label {
	padding-left: 46px;
}

div.xcode_container > .input-container input[type=checkbox] {
	display: none;
	height: 0;
	visibility: hidden;
	width: 0;
}